---
import Cards from "../components/Cards.astro";
import { Paginas } from "../data/Pags";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Typografy - EagleTools">
    <main class="flex flex-row">
		<div class= " grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-max  gap-4 my-24 mx-16">
			{Paginas.filter(pagina => pagina.categoria === "typografy").map(pagina => (
        <Cards
            nombre={pagina.nombre}
            categoria={pagina.categoria}
            imagen={pagina.imagen}
            url={pagina.url}
            iconcategoria={pagina.iconcategoria}
        />
    ))}
		</div>
	</main>
</Layout>