---
export interface props{
    nombre: string;
    categoria: string;
    imagen: string;
    url : string;
    iconcategoria : string;
}
const {nombre, iconcategoria, imagen, url, categoria } = Astro.props
---
<a href={url} class="border-2 border-primary w-full rounded-lg rounded-b-2xl shadow-md overflow-hidden duration-300 hover:shadow-xl relative hover:scale-105 transition-transform">
  <img src={imagen} alt={nombre} class="w-full h-48 object-cover object-center hover:scale-105 transition-transform" />
  <div class=" p-1 footercard absolute -bottom-1 left-0 right-0 rounded-t-xl flex flex-col  ">  
    <h2 class="text-xl text-center font-bold text-white py-1 px-4">{nombre}</h2>
    <div class=" flex flex-row bg-primary text-center w-fit px-2 rounded-xl items-center  ">
      <i class={iconcategoria}></i>
      <h5 class="text-black">{categoria}</h5>
    </div>
  </div>
</a>
  
<style>
  i{
    color:#160921;
    font-size: 22px;
    padding: 1px;
    }
  .footercard{
    background-color:#160921;
    border: #160921 solid 2px;
  }
  @keyframes show {
	from {
		opacity: 1;
		scale: 75%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}
a {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 20%;
	animation-fill-mode: both;
}
</style>


